<%- include("partials/header.ejs") %>
<form method="GET" action="/dog">
<section class = "theHeader">
    
  <h1> Click the Button</h1>
  <h6>for information on a dog</h6>
  <input type="submit" id = "submit">
  </form>
</section>

<section class = "dogBody">
<p>
  <%= data %>
</p>
</section>
    
</body>
</html>